* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  width: 100vw;
  height: 100vh;

  overflow: hidden;

  font-family: 'Ubuntu', sans-serif;
  font-size: 1.6rem;
  color: white;
  background: url('../img/background.jpg') no-repeat center/cover;
}